<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/index.css">
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <a href="">返回</a>
            <p id="head">新建地址</p>
        </div>
        <div class="main">
            <ul id="add">
                <li>
                    <label for="">收货人</label>
                    <input type="text" id="username">
                </li>
                <li>
                    <label for="">详细地址</label>
                    <input type="text" id="addresanme">
                </li>
            </ul>
        </div>
        <div class="footer" id="btn">
            保存地址
        </div>
    </div>
</body>

</html>